page-groups {
  .button{
    margin: 0px auto !important;
    display: block;
    width: 140px;
    text-align: center;
  }

  ion-chip{
    width: 120px;
  }

  .list-ios{
    margin: 0px 0px 5px;
  }

}
