<ion-header>

  <ion-navbar>
    <ion-title>Wachtwoord wijzigen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <ion-list>

      <ion-item>
        <ion-label stacked>Huidig wachtwoord</ion-label>
        <ion-input type="password" formControlName="oldPassword" placeholder="********"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nieuw wachtwoord</ion-label>
        <ion-input type="password" formControlName="newPassword" placeholder="********"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nieuw wachtwoord bevestigen</ion-label>
        <ion-input type="password" [formControl]="passwordConfirmControl" placeholder="********"></ion-input>
      </ion-item>

      <div padding>
        <button type="submit" ion-button color="primary" block [disabled]="(!form.valid || !passwordConfirmControl.valid)" >Wachtwoord wijzigen</button>
      </div>

    </ion-list>
  </form>
</ion-content>
