<ion-header>

  <ion-navbar>
    <ion-title>Wachtwoord resetten</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <ion-list>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" formControlName="email" name="email" placeholder="jan.janssen@minjenv.nl"></ion-input>
      </ion-item>

      <div padding>
        <button type="submit" ion-button  blockcolor="primary" block [disabled]="!form.valid">Reset wachtwoord</button>
      </div>

    </ion-list>
  </form>


</ion-content>
